@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario{
    margin: 5rem auto 2rem auto;
    background-color: v.$blanco;
    border-radius: 5rem;
    /* Primer valor: posicion horizontal
    segundo valor: posicion vertical 
    tercer valor: es el blur
    cuarto valor: es el padding o tamano de la sombra
    v.$gris es el color de la sombra*/
    box-shadow: 0 3px 10px 0px v.$gris; 
    padding: 3rem 0;



    @include m.desktop{
        display: flex;
        justify-content: space-between;
        max-width: 90rem;
        padding: 0;
    }

    &__campo{
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
    
    &:nth-child(1){
        @include m.desktop{
            padding-left: 4rem;
        }
    }
        &:hover{
            background-color: #F0F0F0;
            border-radius: 5rem;
            box-shadow: 0px 6px 20px rgb(0 0 0 / 48%);
        }
  
    }


    &__label{
        font-size: 1.2rem;
        font-weight: 900;
    }

    

    &__input{
        border: none;
        width: 100%;
        color: v.$gris ;
    }

    &__submit{
        display: block;
        height: 4rem;
        border: none;
        border-radius: 2rem;
        background-image: radial-gradient( circle, rgb(255, 56, 92) 0%, v.$secundario 100%);
        padding: 0 2rem;
        color: v.$blanco;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem ;
    }
}